#stars {
  position: fixed;
  /*transform: rotate(180deg);*/
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#snow {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  pointer-events: none;
}

#table {
  text-align: center;
  color: maroon;
  border-color: darkgray;
  border-spacing: 5px;
  border-style: double;
  letter-spacing: 1px;
}
